body {
    background-color: purple;
}

h1 {
    text-align: center;

}

h2 {
    text-align: center;
}


img {
    display: block;
    margin: 0 auto;
    width: 60%;
}

dl {
    width: 60%;
    margin: auto;
    border: 2px solid black;
    margin-top: 2rem;
}

dt {
    background-color: aliceblue;
    padding: 1rem;
    font-weight: bold;
}

dd {
    padding: 1rem;
}

p{
    width: 80%;
    background-color: white;
    margin: 1rem auto;
    padding: 1rem;
    border: 2px solid silver;
}
ul{
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid silver;
    padding-left: 4rem;
}